@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    /*reset dos elementos*/
    padding: 0;
}

body {
    box-sizing: border-box;
    /*encolhe o elemento filho dentro do elemento pai(impede algum elemento sair do body)*/
    height: 100vh;
    /*altura da tela 100% viewport */
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    /*Largura*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    /*Centraliza o texto*/
    border-radius: 16px;
    /*Bordar de arredondamento*/
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 21.5px 0;
    /*valor do padding 21.5px na vertical e 0 na horizontal*/
    text-decoration: none;
    /*Tira qualquer decoração padrão (no caso o sublinhado dos links)*/
    color: black;
}