@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #FFB8E0;
    --cor-secundaria: #EC7FA9;
    --cor-terciaria: #BE5985;
    --cor--hover: #beb8b8;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    height: 60px;
    /*Altura do header*/
    background-color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    height: 100%;
    /*o container da flex box irá pegar 100% do elemento header*/
    gap: 70px;
    padding-left: 180px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor--hover);
}


.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-primaria);
}

.cartaPrincipal {
    padding-top: 40px;
    height: 100vh;
    background-color: var(--cor-primaria);
}

.nossafotos {
    padding-top: 40px;
    height: 100vh;
    background-color: var(--cor-primaria);

}

.titulo {
    font-size: 40px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    text-align: center;
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.cartaTexto {
    padding: 0% 10% 0% 10%;
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-size: 25px;
    font-weight: 400;
    color: var(--cor-terciaria);
}

.principal__conteudo {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.imagem-aniversario-titulo {
    width: 800px;
    padding-right: 100px;
}

.nossasFotosImagem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
}

.rodape {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}