* {
    margin: 0;
    padding: 0;
}

p {
    color: aliceblue;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black
}

.texto-destaque {
    color: aqua
}

.titulo-blog {
    color: mediumblue
}

.containerMain {
    display: flex;
    /*Ativa o modelo flexbox no elemento.*/
    flex-direction: row;
    /*Define a direção principal dos elementos*/
    flex-wrap: nowrap;
    /*Controla se os elementos vão quebrar a linha ou não, quando não couberem.*/
    justify-content: space-between;
    /*Alinha os elementos no eixo principal (horizontal se flex-direction: row(linha), vertical se column(coluna))*/
    align-items: stretch;
    /*Alinha os elementos no eixo cruzado (o oposto ao principal).*/
    align-content: stretch
        /*Alinha múltiplas linhas no eixo cruzado (só funciona quando há quebra de linha).*/
}

.imagem {
    width: 500px;
}